@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}
/* color */
:root{
    --byad-fath:#fcfcfc;
    --byad-fath2:#f8f8f8;
    --black:rgb(0,0,0);
    --pistaj:#dae66c;
    --samawi:#29f3f3;
    --khdrgh:#29b3af;
    --cooleur:linear-gradient(to right, var(--samawi), var(--khdrgh), var(--pistaj));
    --color:linear-gradient(to right,#29b3af,var(--samawi),#29b3af,var(--pistaj),#fbfbe8);
  }
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(77, 77, 77, 0.648),rgba(0, 0, 0, 0.799));
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
/* ---style nav ----- */
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:2px ;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
header nav .logo-navbar{
    display: flex;
    font-size: 32px;
    font-weight: 700;
    color: transparent;
    padding-left: 1%;
    background: var(--color); 
    background-size: 300%;
    background-clip:text;
    background-position: -100%;
    animation: back_ 2s infinite alternate-reverse;
}
@keyframes back_ {
  from{
    background-position: 0%;
  }
  to{
    background-position: 100%;
  }
}
header nav .logo-navbar span{
    margin-top: 5px;
}
header .menu {display: flex;}
header .menu li {padding-right: 30px;}
header .menu li a {
    text-decoration: none;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    font-size:medium;
    color: rgb(255, 255, 255);
}
header .menu li a:hover{
    color: transparent;
    background: var(--cooleur);
    background-clip: text;
    
  }
li a:active{
    color: red
    
  }

header .open-menu , .close-menu {
    position: absolute;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    
}
header .open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
header .close-menu {
    top: 8px;
    right: 8px;
  }

#check {display: none;}

/* end  */
.container{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header .container .content{
    width: 40%;
  /* max-width: 100em; */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
 
header .container .content .btn1{
  text-decoration: none;
  padding: .5em 1.5em;
  border: 1px solid rgba(255, 255, 255, 0.781);
  margin-top: 1em;
  border-radius: .5em;
  color: #ffffff;
  /* background: linear-gradient(45deg, #ff990032, #ff66cc32); */
  /* opacity: 0.2; */
  text-align: left;
  transition: 0.5s;
}
header .container .content .btn1:hover{
    transform: scale(1.05);
    background-color: rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0);
}
header .container .content p{
    color: rgb(219, 219, 219);
    padding: 1rem 0;
    letter-spacing: .8px;
    line-height: 1.6em ;
    font-size: 1.1em;
    text-align: left;
    transition: 0.5s;
  } 

/* ---style heading h1  */
.content h1{
    display: none;
    font-size: 12vw;
    color: transparent;
    background: var(--cooleur); 
    background-clip:text;
    /* font-weight: 600; */
    transition: .5s;
}
.content h1:hover {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}
/* ------end style heading h1 */

/* ----style divs title color ---------- */
header .container .content .div_title{
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 0;
}
.sibe{
    font-size: 100px;
    color: transparent;
    background: var(--cooleur); 
    background-clip:text;
    /* font-weight: 600; */
    transition: .5s;
    
}
.div_title:hover .sibe{
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}
.web{
    font-size: 70px;
    color: transparent;
    background: var(--cooleur); 
    background-clip:text;
    transition: .5s;  
}
.div_title:hover .web{
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}
.div_web{
    display: flex;
    flex-direction: column;
}
.div_alwan{
    margin-top: 12.65%;
    width: 100%;
    height: 7.5%;
    /* background-color: #ff9900c3; */
    background: var(--cooleur);
    background-size: 300% 300%;
    animation: color 20s infinite ease-in-out ;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/* ---- end style divs title color ---------- */




.back_video{
    position: absolute;
    /* position: fixed; */
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back_video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back_video{
        width: auto;
        height: 100%;
    }
}
/* ---style contact header */
header .contact_content{
    position: relative;
    /* width: 300px;
    height: 400px; */
    text-align: left;
    margin-top: 2em;
    border:2px solid #ffffff63;
    z-index: 100;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    color: rgb(255, 255, 255);
}
header .contact_content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:var(--cooleur);
    opacity: 0.2;
    border-radius: 20px;
    z-index: -1;
   
} 
header .contact_content .contact_sect .contact_{
    width: 60%;
    position: absolute;
    left: 20%;
    top: 20%;
    height: 500px;
    z-index: 6;
    /* background-color: #d4fda2af; */
    /* border: 2px solid #efefef;
    border-radius: 10px; */
    padding: 0.5em;
    transition: 1s ;
    background: var(--cooleur);
    /* background-color:var(--pistaj); */
    /* background-color:aliceblue; */
    box-shadow: 0 0 10px black;
}

header .contact_content .contact_ .lfog{
    width: 100%;
    display: flex;
    /* background-color: #ff66cc; */
}
header .contact_content .contact_ .lfog .div_cont{
    width: 50%;
    padding: 1em;
}
header .contact_content  .contact_ .lfog input,header .contact_content .contact_ .lfog select{
    width: 100%;
    margin-top: 0.5em;
    padding: 8px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #ffffff63;
    color: #fff;
    /* border-radius: 10px; */
}
header .contact_content  .contact_ .lfog input:focus{
    outline: none;
}
header .contact_content  .contact_ .lfog select:focus{
    outline: none;
}
header .contact_content  .contact_ .ltaht textarea:focus{
    outline: none;
}
header .contact_content  .contact_ .ltaht textarea{
    width: 100%;
    margin-top: 0.5em;
    padding: 8px;
    border: none;
    background-color: transparent;
    border: 2px solid #ffffff63;
    color: #fff;
    border-radius: 10px;
}
header .contact_content .select_bosoin{
    color: #000000;
}
header .contact_content  .contact_ .ltaht {
    padding: 1em;
}
header .contact_content  .contact_ .btn{
    /* width: 20%; */
    background-color: transparent;
    border: 2px solid #ffffff63;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    margin: auto
}
header .contact_content  .contact_ .btn span{
    margin-right:1em ;
}
header .contact_content  .contact_ .btn:hover{
    background-color: #000000;
    color: #FFF;
    box-shadow:0 0 20px rgb(255, 255, 255);
}
header .contact_content  .contact_ .btn:no-button{
    transform: scale(1.09);
}
/* .containert h2{
    color: transparent;
    background: linear-gradient(45deg, #ff9900, #ff66cc); 
    background-clip:text;   
} */

/* .div_cont{
    display: block;
    text-align: left;   
}
.contact_header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
    border-radius: 20px;
    z-index: -1;
   
} */

/* header .contact_header h3{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 1em;
} */
/* header .contact_header input,header .contact_header  textarea{
    width: 100%;
      background-color: transparent;
      padding: 5px;
      border: none;
      border-bottom: 2px solid rgb(154, 154, 154);
      margin-bottom: 1em;
      margin-top: 0.4em;
      color: #FFF;
  }
header .contact_header input:focus {
    outline: none;
  }
header .contact_header textarea:focus{
    outline: none;
}
header .contact_header .btn{
    width: 100%;
    height: 25px;
    background: transparent;
    color: #ffffff;
    border: 2px solid rgb(154, 154, 154);
    border-radius: 10px;
} */
/* ------contact header--------- */

@media(max-width: 1024px){
    header .container .content{
        width: 60%;
        min-width: 300px;
    }
    .content h1{display: flex;}
    header .container .content .div_title{display: none;}
    header .contact_content{display: none;}
    header .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      /* height: 100vh; */
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 1000;
      background: #FFF;
      padding-bottom: 2em;
      margin-top: 1em;
      transition: 1s ;
    }
    header .menu li {margin-top: 40px;}
    header .menu li a {
        /* padding: 10px; */
        color: rgb(0, 0, 0);
        border: none;
        transition: 0.5s;
    }
    header .menu li a:hover{
        color: #0365f8;
        border-bottom: 2px solid rgb(174, 174, 174);
    }
    header .open-menu , .close-menu {display: block;}
        #check:checked ~ .menu {
            right: 12px;
        }
     
  } 


/* ------section about-------- */
.about{
    padding: 40px 2em;
    background-color: var(--byad-fath);
    
}
.about p{
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 1em;
    font-size: 1em;
    text-align: center;
}
.text-warning{
    color: #ffa166;
}
h2{
    text-align: center;
    font-size: xx-large;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1em;
}
/* ----end section about------ */
/* start section services */
section .services{
    width: 100%;
    min-height: 100vh;  
}
section .services .container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows:55% 55%; */
    /* padding:0% 5% 5% 5% ; */
}
section .services h1{
    text-align: center;
    margin: 1em 0px;
    font-weight: 900;
    font-size: xx-large;
    letter-spacing: 1px;
    text-transform:uppercase ;
}
section .services .container .card{
    /* height:min-content; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* text-align: center; */
    align-items: center;
    padding: 5px;
    margin: 2em;
    /* border: solid rgb(145, 145, 145) 2px; */
    border-right: 2px solid rgb(145, 145, 145);
    border-bottom: 2px solid rgb(145, 145, 145);
    height: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(102, 102, 102);
    /* border-top-left-radius: 40px;
    border-bottom-right-radius: 40px; */
    background-color: rgba(255, 255, 255, 0.623);
    transition: .3s;
}
section .services .container .card:hover{
    /* background-color: black;
    color: #fff; */
    transition:.3s ;
    scale: 1.01;
    /* transform: rotateZ(10deg); */
    rotate: 1deg;
    
}
section .services .container button{
    width: max-content;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: black;
    margin:1em 6em;
}
section .services .container button a{
    text-decoration: none;
    color: #fff;
}
section .services .container button:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255);
}
section .services .container .card img{
    width: 4rem;
    margin: 1em;
}
section .services .container .card h3{
    margin-bottom: 1em;
}
/* ------------animatino-------------- */
section .services .container .card:hover button{
 /* background-color: #fff; */
 transition: .5s;
 scale: 1.01;
}
/* that card has a problem in size that's why I use id for fix that's problem*/
/* section .services .container #pro_card:hover button{
    transform: translate(0px );
} */
/* section .services .container .card:hover p{
    transition: .5s;
    transform: translateY(-10px);
} */
/* section .services .container #pro_card:hover p{
    transform: translateY(0px); 
} */
/* section .services .container .card:hover h3{
    transition: 1s;
    transform: translateY(10px);
} */
/* section .services .container #pro_card:hover h3{
    transform: translateY(0px);
} */
/* ------------animation------------------ */
/* section .services .container .card:hover a{
    color:black;
} */
/* section .services .container .card:hover img{
    display: none;
} */
@media (max-width: 1182px){
    section .services .container{
        padding: 20px 1em;
    }
}
@media (max-width: 974px){
    section .services .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }
    /* section .services .container button{
        margin-left: 36%;
    } */
}
@media (max-width: 634px){
    section .services .container{
        grid-template-columns: 1fr ;
        grid-template-rows: auto ;
    }
    /* section .services .container button{
        margin-left: 38%;
    } */
    /* section .services .container .card:hover button{
        background-color: #fff;
        transition: .5s;
        transform: translate(0px , -6px);
       } */
       /* section .services .container .card:hover p{
           transition: .5s;
           transform: translateY(-1em);
       }
       section .services .container .card:hover h3{
           transition: 1s;
           transform: translateY(-10px);
       } */
}
@media (max-width: 424px){
    section .services .container button{
        margin-left: 32%;
    }
}
/* end section services */




/* ----------------   section contact------------------ */

section .contact_sect{
    width: 100%;
    height: 800px;
    position: relative;
    background-color: whitesmoke;
    
}

section .contact_sect h1{
    text-align: center;
    margin: 1em 0px;
    padding-top: 1em;
    font-weight: 900;
    font-size: xx-large;
    letter-spacing: 1px;
    text-transform:uppercase ;
    
}
section .lorani1{
    position: absolute;
    left: 20%;
    top: 20%;
    /* transform: translateX(-50%); */
    /* transform: translateY(-50%); */
    width: 60%;
    height: 500px;
    transform: rotateZ(5deg);
    /* background-color: var(--pistaj); */
    background: var(--cooleur);
    /* background-color:aliceblue; */
    box-shadow: 0 0 10px black;
    z-index: 1;
}
section .lorani2{
    position: absolute;
    left: 20%;
    top: 20%;
    /* transform: translateX(-50%); */
    /* transform: translateY(-50%); */
    width: 60%;
    height: 500px;
    transform: rotateZ(-5deg);
    z-index: 5;
    /* background-color: var(--pistaj) ; */
    background: var(--cooleur);
    /* background-color:aliceblue; */
    box-shadow: 0 0 10px black;

}
section .contact_sect .contact_{
    width: 60%;
    position: absolute;
    left: 20%;
    top: 20%;
    height: 500px;
    z-index: 6;
    /* background-color: #d4fda2af; */
    /* border: 2px solid #efefef;
    border-radius: 10px; */
    padding: 0.5em;
    transition: 1s ;
    background: var(--cooleur);
    /* background-color:var(--pistaj); */
    /* background-color:aliceblue; */
    box-shadow: 0 0 10px black;
}

section .contact_sect .contact_ .lfog{
    width: 100%;
    display: flex;
    /* background-color: #ff66cc; */
}
section .contact_sect .contact_ .lfog .div_cont{
    width: 50%;
    padding: 1em;
}
section .contact_sect .contact_ .lfog input,section .contact_sect .contact_ .lfog select{
    width: 100%;
    margin-top: 0.5em;
    padding: 8px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #000000;
    /* border-radius: 10px; */
}
section .contact_sect .contact_ .lfog input:focus{
    outline: none;
}
section .contact_sect .contact_ .lfog select:focus{
    outline: none;
}
section .contact_sect .contact_ .ltaht textarea:focus{
    outline: none;
}
section .contact_sect .contact_ .ltaht textarea{
    width: 100%;
    margin-top: 0.5em;
    padding: 8px;
    border: none;
    background-color: transparent;
    border: 2px solid #00000071;
    border-radius: 10px;
}
section .contact_sect .contact_ .ltaht {
    padding: 1em;
}
section .contact_sect .contact_ .btn{
    /* width: 20%; */
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 8px;
    margin: auto
}
section .contact_sect .contact_ .btn span{
    margin-right: 1em;
}
section .contact_sect .contact_ .btn:hover{
    background-color: #000000;
    color: #FFF;
    box-shadow:0 0 20px rgb(0, 0, 0);
    transform: scale(1.1);
}

@media (max-width:500px) {
    section .lorani1{
        left: 10%;
        width: 80%;
        height: 500px;
        transform: rotateZ(5deg);
    }
    section .lorani2{
        left: 10%;
        width: 80%;
        height: 500px;
        transform: rotateZ(-5deg);
    }
    section .contact_sect .contact_{
        width: 80%;
        left: 10%;
        height: 500px;
        padding: 0;
        transition: 1s ;
    }
}
@media (max-width:375px) {
    section .contact_sect .contact_ .lfog{
        width: 100%;
        display:block;
        /* background-color: #ff66cc; */
    }
    section .contact_sect .contact_ .lfog .div_cont{
        width: 100%;
        padding: .5em;
        display: flex;
    }
    section .contact_sect .contact_ .lfog input,section .contact_sect .contact_ .lfog select{
        width: 55%;
        margin-top:0;
       
    }
    section .contact_sect .contact_ .lfog label{
        padding-top: 0.7em;
        width: 45%;
    }
}


/* -------------------end section contact------------------ */














/* start section reviws */
section .con_views{
    width: 930px;
    height: 300px;
    margin: auto;
    /* padding: 0 50px; */
    position: relative;
    overflow: hidden;
    /* background-color: #4a65ff; */
}
section .h1_views{
    text-align: center;
    margin: 1em 0px;
    font-weight: 900;
    font-size: xx-large;
    letter-spacing: 1px;
    text-transform:uppercase ;
}
@media (max-width:1000px) {
    section .con_views{
        width: 620px;
    }
}
@media (max-width:700px) {
    section .con_views{
        width: 310px;
    }
}
section .con_views .slider{
    position: absolute;
    left: 0;
    /* width: 500%; */
    height: 100%;
    display: flex;
    /* margin: auto; */
    /* margin-top:50px;  */
    transition: 0.5s;
    
}
section .con_views .slider .slide{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    width: 300px;
    /* height: 250px; */
    /* background-color: #0365f8; */
    margin-right:10px;
    transition: .5s;  
}


section .con_views .slider .slide .cont_views{
    border: 2px solid #d6d6d6;
    /* width: 100%; */
    height: 70%;
    padding: 1em 0.5em;
    margin-bottom: 0.5em;
    position: relative;
}
section .con_views .slider .slide .cont_views .head_views{
/* margin: auto; */
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 1em;
}
section .con_views .slider .slide .cont_views .stars{
    display: flex;
    justify-content: center;  
}
section .con_views .slider .slide .cont_views .stars img{
    width: 20px;
    height: 20px;
}
section .con_views .slider .slide .profile_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

section .con_views .slider .slide .footer_views{
    display: flex;
    margin-left: 0.5em;
    margin-top: 0.2em;
}
section .con_views .slider .slide .name_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5em;
}
section .con_views .slider .slide .name_user span{
    color: #696868;
}
section .con_views .slider .slide .cont_views p{
    text-align: justify;
    /* padding-bottom: 1em; */
    /* padding:1% 7%; */
}
section .con_views .slider .slide .cont_views i{
    font-size: 28px;
    color: #d6d6d6;
    position: absolute;
    left: 18px;
    bottom: 0;
    transform: translateY(65%);
}
.sec_veiws {
    position: relative;
}
section  .btn_right{
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    border: none;
    background-color: transparent;
    font-size: 48px;
    right: 0;
    color: #cdcdcd;
    /* transform: translateX(100%); */
}
section  .btn_left{
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    border: none;
    background-color: transparent;
    font-size: 48px;
    left: 0;
    color: #cdcdcd;
    /* transform: translateX(100%); */
}
@media (max-width:400px){
    section  .btn_right{
        bottom: 0;
        transform: translateY(-25%);
    }
    section  .btn_left{
        bottom: 0;
        transform: translateY(-25%);
    } 
}

/* end section reviws */


/* start footer */

footer{
    padding:40px 20px ;
    background-color: black; 
    /* khdam 3la tatirat dyal hover */
  }
footer h3{
    color: #fff;
    margin-bottom: 1em;
    letter-spacing: 1px;
} 
footer div div ul{
    list-style: none;
    padding-left: 0.5em;
    line-height: 2.5em;
    
  }
footer ul li a{
    text-decoration: none;
    font-size: 1.1em;
    color:  #fff;
    opacity: .84;
    margin-bottom: 2em;
  }
footer ul li a i{
    font-size: 20px;
    padding-right: .5em ;
    text-align: center;
  }
.container_footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 1em 0;
  }
.cont_footer_1{
    width: 30%;
    min-width: 284px;
    margin: 0;
    margin-left: 1em;
    margin-bottom: 1em;
    
  }
.cont_footer_1 .logo-navbar{
    display: flex;
    font-size: 48px;
    font-weight: 700;
    color: transparent;
    /* background: var(--cooleur); 
    background-clip:text; */
    margin: 0.3em 0;
    background: var(--color); 
    background-size: 300%;
    background-clip:text;
    background-position: -100%;
    animation: back_ 2s infinite alternate-reverse;
  }
.cont_footer_2{
    width: 21%;
    min-width: 270px;
    margin-left: 0;
    margin-bottom: 1em;
  }
.cont_footer_3{
    width: 15%;
    min-width: 150px;
    margin-left: 0;
    margin-bottom: 1em;
  }
.cont_footer_4{
    width: 20%;
    min-width: 300px;
    margin-bottom: 1em;
  }
  
.cont_footer_1 P{
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 1em;
    font-family: sans-serif;
  }
  
.cont_footer_1 div a i{
    width: 40px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding:10px;
    border-radius: 10px;
    margin: 1em 1em 0.5em 0;
    transition: 0.5s;
  }
.cont_footer_1 div a i:hover{
    background-color: #000000 ;
    color:#ffffff;
}
footer ul li a:hover {
        color: #fff;
        font-weight: 600;
}
.copyright{
   border-top:solid #fff 2px ;
   text-align: center;
   font-size: 16px;
   letter-spacing: 2px;
   font-weight: 400;
   color: #fff;
   font-family:  'Playfair Display', serif;
   padding-top: 20px;
   
  }
.copyright span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color:var(--pistaj);
  }
/* end footer */
  /* -------------------------icon whatsap-------- */
.whatsapp-btn-container {
    position: fixed;
    left: 10px;
    opacity: 0; 
    bottom: 20px;
    padding: 8px;
    animation: fade-up 1000ms forwards;
    animation-delay: 1000ms;
}

@keyframes fade-up {
    100% {
        bottom: 1%;
        opacity: 1;
    }
}

.whatsapp-btn-container .whatsapp-btn {
    font-size:55px;
    color: #25d366;
    display: inline-block;
    transition: all 400ms;
}
  
  /* .whatsapp-btn-container .whatsapp-btn:hover {
    transform: scale(1.1);
  } */
  
  .whatsapp-btn-container a span {
    width: 1.1em;
    height: 1.1em;
    background-color: #ff0000;
    position: absolute;
    font-size: 14px;
    top: 8px;
    left: 42px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fefefe;
    border-radius:50%;
    cursor: pointer;
    /* transform: rotateZ(30deg) translateX(10px); */
    opacity: 0;
    transition: all 400ms;
    text-align: center;
    animation: msg .5s infinite ease ;
    animation-delay: 30s;
    
  }
@keyframes msg {
    0%{
        opacity: 1;
        transform: translateY(10px);
    }
    25%{
        opacity: 1;
        transform: rotateZ(25deg);
    }
    50%{
        opacity: 1;
        transform: rotateZ(-25deg);
    }
    75%{
        opacity: 1;
        transform: rotateZ(25deg);
    }
    100%{
        opacity: 1;
        transform: translateY(-10px);
    }
}

  /* .whatsapp-btn-container .whatsapp-btn:hover + span {
    transform: rotateZ(0deg) translateX(0px);
    opacity: 1;
  } */
  /* ---------------end tyle whatsapp----------- */
  /* -------styling btn scrool------- */
.btn_scroll{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    background: transparent;
    color: var(--khdrgh);
    font-size: 32px;
    display: none;
    animation: tl3lfog 0.5s infinite  ;
    /* animation-play-state: paused; */
    transition: 0.5s;
}
@keyframes tl3lfog {
    /* 0%{transform: translateY(0);}
    20%{transform: translateY(-10px);}
    50%{transform: translateY(10px);}
    100%{ bottom: 20px;} */
    0%{
        bottom: 20px;
    }
    50%{ bottom:10px}
    /* 50%{
        bottom:20px;
    } */
    /* 75%{
        bottom:30px;
    } */
    100%{
        bottom: 20px;
    }
}
  /* -----end styling btn scroll----- */